.Schemas {
  height: 60%;
  max-height: 60%;
  overflow-y: scroll;
  border-bottom: 1px solid $primaryFillColor;
}

.Schemas-view {
  margin: 2.5%;
}

.Schema-choices {
  margin-left: 10px;
  width: 100%;
}

.Schema-field > td,
.Schema-field-isover > td {
  height: 12px;
}

.Schema-field {
  outline: 2px solid white;
  z-index: 8;
}


.Schema-field-isover {
  outline: 2px ridge $tertiaryAppColor;
  z-index: 9;
}