.Schemas {
  height: 60%;
  max-height: 60%;
  overflow-y: scroll;
  border-bottom: 1px solid $primaryFillColor;
}

.Schemas-view {
  margin: 2.5%;
}

.Schema-choices {
  margin-left: 10px;
  width: 100%;
}

.Schema-list-row {
  cursor: default;
  color: $primaryFillColor;
  min-height: 35px;
}

.Schema-list-row:hover {
  background-color: $tertiaryAppColor;
  min-height: 35px;
}

.Schema-field > td,
.Schema-field-isover > td {
  height: 12px;
}

.Schema-field-dropping,
.Schema-field-validating,
.Schema-field-neglet {
  margin-right: 10px;
}

.Schema-field-neglet {
  color: white !important;
}

.Schema-field-validating {
  color: orange !important;
}
.Schema-field-dropping {
  color: $dragMapColor !important;
}

