/** Ant overrides **/
.ant-card {
  margin-bottom: 20px;
}

.ant-card-head {
  height: auto !important;
}

.App-toolbar {

  .ant-tabs-nav-scroll {
    background-color: $primaryFillColor;
  }
}

/* other */
table {
  border-collapse: collapse;
}