/* main color base */
$primaryBackground: #fff;
$secondaryBackground: #f1f1f1;
$primaryAppColor: #323a45;
$secondaryAppColor: #5b616b;
$tertiaryAppColor: #d6d7d9;

/* fills */
$primaryFillColor: rgba(119,136,153,1);
$secondaryFillColor: rgba(119,136,153,.5);
$tertiaryFillColor: rgba(119,136,153,.25);

$dragMapColor: #1E90FF;

$intentSuccess: green;
$intentWarning: orange;
$intentFailure: red;

