/* bootstrap overrides */
.col-md-7 {
  padding: 0px !important;
}

.App-main-view {
  height: 100vh;
}

.App-right-view {
  height: 100%;
  background-color: red;
}

.App-left-view {
  height: 100%;
  background-color: #fff;
}