.scheme-aqua{color:#00ffff;}
.scheme-azur{color:#f0ffff;}
.scheme-beig{color:#f5f5dc;}
.scheme-black{color:#000000;}
.scheme-blue{color:#0000ff;}
.scheme-brow{color:#a52a2a;}
.scheme-cyan{color: #00ffff;}
.scheme-darkblue{color: #00008b;}
.scheme-darkcyan{color: #008b8b;}
.scheme-darkgrey{color: #a9a9a9;}
.scheme-darkgreen{color: #006400;}
.scheme-darkkhaki{color: #bdb76b;}
.scheme-darkmagenta{color: #8b008b;}
.scheme-darkolivegreen{color: #556b2f;}
.scheme-darkorange{color: #ff8c00;}
.scheme-darkorchid{color: #9932cc;}
.scheme-darkred{color: #8b0000;}
.scheme-darksalmon{color: #e9967a;}
.scheme-darkviolet{color:#9400d3;}
.scheme-fuchsia{color: #ff00ff;}
.scheme-gold{color: #ffd700;}
.scheme-green{color: #008000;}
.scheme-indigo{color: #4b0082;}
.scheme-khaki{color: #f0e68c;}
.scheme-lightblue{color: #add8e6;}
.scheme-lightcyan{color: #e0ffff;}
.scheme-lightgreen{color: #90ee90;}
.scheme-lightgrey{color: #d3d3d3;}
.scheme-lightpink{color: #ffb6c1;}
.scheme-lightyellow{color: #ffffe0;}
.scheme-lime{color: #00ff00;}
.scheme-magenta{color: #ff00ff;}
.scheme-maroon{color: #800000;}
.scheme-navy{color: #000080;}
.scheme-olive{color: #808000;}
.scheme-orange{color: #ffa500;}
.scheme-pink{color: #ffc0cb;}
.scheme-purple{color: #800080;}
.scheme-violet{color: #800080;}
.scheme-red{color: #ff0000;}
.scheme-silver{color:  #c0c0c0;}
.scheme-yellow{color: #ffff00;}

.active-scheme-aqua:active{color:#00ffff;}
.active-scheme-azur:active{color:#f0ffff;}
.active-scheme-beig:active{color:#f5f5dc;}
.active-scheme-black:active{color:#000000;}
.active-scheme-blue:active{color:#0000ff;}
.active-scheme-brow:active{color:#a52a2a;}
.active-scheme-cyan:active{color: #00ffff;}
.active-scheme-darkblue:active{color: #00008b;}
.active-scheme-darkcyan:active{color: #008b8b;}
.active-scheme-darkgrey:active{color: #a9a9a9;}
.active-scheme-darkgreen:active{color: #006400;}
.active-scheme-darkkhaki:active{color: #bdb76b;}
.active-scheme-darkmagenta:active{color: #8b008b;}
.active-scheme-darkolivegreen:active{color: #556b2f;}
.active-scheme-darkorange:active{color: #ff8c00;}
.active-scheme-darkorchid:active{color: #9932cc;}
.active-scheme-darkred:active{color: #8b0000;}
.active-scheme-darksalmon:active{color: #e9967a;}
.active-scheme-darkviolet:active{color:#9400d3;}
.active-scheme-fuchsia:active{color: #ff00ff;}
.active-scheme-gold:active{color: #ffd700;}
.active-scheme-green:active{color: #008000;}
.active-scheme-indigo:active{color: #4b0082;}
.active-scheme-khaki:active{color: #f0e68c;}
.active-scheme-lightblue:active{color: #add8e6;}
.active-scheme-lightcyan:active{color: #e0ffff;}
.active-scheme-lightgreen:active{color: #90ee90;}
.active-scheme-lightgrey:active{color: #d3d3d3;}
.active-scheme-lightpink:active{color: #ffb6c1;}
.active-scheme-lightyellow:active{color: #ffffe0;}
.active-scheme-lime:active{color: #00ff00;}
.active-scheme-magenta:active{color: #ff00ff;}
.active-scheme-maroon:active{color: #800000;}
.active-scheme-navy:active{color: #000080;}
.active-scheme-olive:active{color: #808000;}
.active-scheme-orange:active{color: #ffa500;}
.active-scheme-pink:active{color: #ffc0cb;}
.active-scheme-purple:active{color: #800080;}
.active-scheme-violet:active{color: #800080;}
.active-scheme-red:active{color: #ff0000;}
.active-scheme-silver:active{color:  #c0c0c0;}
.active-scheme-yellow:active{color: #ffff00;}