.Uploader-csvtable {
  height: 95%;
  width: 95%;
  margin: 2.5%;
  overflow: scroll;
}

.Uploader-table-toolbar {
  background-color: white;
  height: 60px;
}

.Uploader-table-header {

}

.Uploader-table-header:hover {
  color: coral;
  cursor: pointer;
}

.Uploader-table-header:active {
  color: deepskyblue;
}

.Uploader-table-header-lonely {
  color: red;
}

.Uploader-table-header-matched {
  color: green;
}
